#head-img-div>h2 {
    margin-left: 1rem;
    margin-right: 1rem;
}

#body {
    margin: auto;
    max-width: 80rem;
}

#head {
    height: 2rem;
    z-index: 100;
}

#tail {
    position: relative;
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: stretch;
    background-color: rgba(255, 255, 255, 0);
    min-width: 20rem;
    flex: 1;
}

#body-top {
    height: 2rem;
}

#send {
    opacity: 1 !important;
    width: auto;
    margin: 0;
    margin-bottom: 1rem;
}

#input-div {
    width: auto;
    height: 6rem;
    flex: none;
    display: flex;
    margin-bottom: 1rem;
    border-radius: 1rem;
    align-items: stretch;
    border: 1px solid #00000078;
}

#input {
    height: auto;
    width: -webkit-fill-available;
    margin: 1em;
    display: block;
}

#body-body {
    border-radius: 1rem;
    margin: 0rem;
    background-color: #ffffff78;
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    padding: 1rem 0rem;
    align-items: stretch;
}

#body-body>* {
    margin: 0rem 1rem;
}

#tall-title,
#chat-title {
    margin: 0;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
}

.select-div {
    background-color: #ffffff78;
    border-radius: 1rem;
    border: 1px solid #00000078;
    margin-bottom: 1rem;
}

.select-title {
    margin: 1rem;
    margin-top: 0.5rem;
}

.select-select {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    margin-top: 0;
    flex-wrap: wrap;
}

.select-buottn {
    margin: 0.3rem 0.3rem;
    height: 1.5rem;
    line-height: 1.5rem;
    background-color: #ffffffc9;
    border: 1px solid #00000042;
    border-radius: 0.6rem;
    padding: 0 1rem;
}

.select-buottn:hover {
    background-color: #0091ff1f;
    cursor: pointer;
}

.select-buottn.selected {
    background-color: #0091ff6b;
}

.bing>* {
    animation: none;
}

.adaptiveCardsFatherDIV,
.my>.bobo {
    max-width: none;
    display: block;
    margin-bottom: 0rem;
    background-color: #ffffff00;
}

.bing {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 1rem;
}

#chat {
    background-color: #ffffff;
    border-radius: 1rem;
    min-height: 8rem;
    margin-bottom: 1rem;
    overflow: hidden;
    flex: 1;
}

#chat-div {
    min-width: 20rem;
    flex: 1.5;
    display: flex;
    flex-direction: column;
}

.bing>.sourceAttributions {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #ffffff00;
    align-items: flex-start;
}

#chat>.my,
#chat>.bing>.InternalSearchQuery #chat>.bing>.sourceAttributions {
    display: none;
}